/* General Styles & Divisions */

body{ /* Makes the background color of the document an off white */
    background-color: rgba(249, 249, 249);
    color: rgb(70, 70, 70);
}

.button1{ /* Used for the fancy links used on the homepage of the website */
    border:.2em solid rgb(247, 94, 80);
    color: rgb(247, 94, 80);
    display:block;
    font: 2em Raleway;
    font-weight: bold;
    margin: .5em 1em;
    padding: .3em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.button2{ /* Used for the fancy links used on the homepage of the website */
    border:.2em solid rgb(214, 165, 15);
    color: rgb(214, 165, 15);
    display:block;
    font: 2em Raleway;
    font-weight: bold;
    margin: .5em 1em;
    padding: .3em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.button3{ /* Used for the fancy links used on the homepage of the website */
    border:.2em solid rgb(145, 192, 158);
    color: rgb(145, 192, 158);
    display:block;
    font: 2em Raleway;
    font-weight: bold;
    margin: .5em 1em;
    padding: .3em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.button1:hover{ /* A sister rule to the ".button" links, this one allows them to fill in with color when hovered over */
    background: rgb(247, 94, 80);
    color: white;
    font: 2em Raleway;
    font-weight: bold;
}

.button2:hover{ /* A sister rule to the ".button" links, this one allows them to fill in with color when hovered over */
    background: rgb(214, 165, 15);
    color: white;
    font: 2em Raleway;
    font-weight: bold;
}

.button3:hover{ /* A sister rule to the ".button" links, this one allows them to fill in with color when hovered over */
    background: rgb(145, 192, 158);
    color: white;
    font: 2em Raleway;
    font-weight: bold;
}

.contactLink{ /* This rule essentially does the same job as ".button" but it has a few key differences that make it more suitable for the nav bar. */
    border:0.2em solid white;
    color: white;
    font: 1.5em Raleway;
    font-weight: bold;
    height: auto;
    line-height: 3em;
    margin: .5em .5em 20em 0em;
    max-width: 7em;
    padding: .25em;
    text-align: center;
    text-decoration: none;
    word-wrap: break-word
}

.contactLink:hover{ /* A realative pseudoclass modifier for the links. This basically makes the link recognize when someone is hovering over it in the navigation.*/
    background: white;
    color: rgb(247, 94, 80);
    font: 1.5em Raleway;
    font-weight: bold;
}

.content{ /* This rule allows any page with a navigation header to start below the header. */
    position: relative;
    top: 7.5em;
}

footer{
    background: white;
    bottom: -4em;
    font: .75em Raleway;
    height: 5em;
    position: relative;
    padding: 3em;
    text-align: center;
    min-width: 10em;
    max-width: auto;
    z-index: 1;
}

header{ /* This positions navigation header to the top of the page */
    position: fixed;
    top: 0;
    z-index: 2;
}

.headerlogo{ /* A small rule that places my personal logo to the left of the navigation bar */
    float: left;
    margin: 0em 0em 0em 1em;
}

.home { /* This rule sets the margin space and center aligns the homepage */
    background-color:white;
    box-shadow: 2em 2em 100px rgba(128, 128, 128, 0.5);
    margin: 2.5rem auto 2.5rem auto;
    max-width: 38rem;
    padding: 1.5rem;
    text-align: center;
}

img{
    max-width: 100%;
    height: auto;
}

main{
    z-index: 1;
}

.letschat{
    background: rgb(247, 94, 80);
    box-shadow: 2em 2em 100px rgba(128, 128, 128, 0.5);
    color: white;
    margin: 2em auto;
    max-width: 50em;
    min-width: 10em;
    padding: 2em;
}

.navigation{ /* This rule sets the style for the navigation header. */
    background: white;
    box-shadow: 0 -50px 100px rgba(128, 128, 128, 0.8);
    display: inline-block;
    max-height: 7.25em;
    overflow: hidden;
    padding: .5em;
    position: fixed;
    right:0;
    top:0;
    width: 100%;
}

@media screen and (min-width: 570px) {
    .navigationlink{ /* This rule essentially does the same job as ".button" but it has a few key differences that make it more suitable for the nav bar. */
        border:0.2em solid black;
        color: black;
        float: right;
        font: 1.5em Raleway;
        font-weight: bold;
        height: auto;
        margin: 1em .5em 0em 0em;
        max-width: 7em;
        padding: .25em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        word-wrap: break-word
    }
}

@media screen and (max-width: 569px) {
    .navigationlink{ /* This rule essentially does the same job as ".button" but it has a few key differences that make it more suitable for the nav bar. */
        border:0.2em solid black;
        color: black;
        float: right;
        font: 1.15em Raleway;
        font-weight: bold;
        height: auto;
        margin: 0em .5em .25em 0em;
        max-width: 7em;
        padding: .25em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        word-wrap: break-word
    }
}

@media screen and (min-width: 570px) {
    .navigationlink:hover{ /* A realative pseudoclass modifier for the links. This basically makes the link recognize when someone is hovering over it in the navigation.*/
        background: black;
        color: white;
        font: 1.5em Raleway;
        font-weight: bold;
    }
}
@media screen and (max-width: 569px) {
    .navigationlink:hover{ /* A realative pseudoclass modifier for the links. This basically makes the link recognize when someone is hovering over it in the navigation.*/
        background: black;
        color: white;
        font: 1.15em Raleway;
        font-weight: bold;
    }
}

@media screen and (min-width: 570px) {
    .navigationVisiting { /* Keeps the button of the page you're currently visited colored*/
        border:0.2em solid black;
        background: black;
        color: white;
        float: right;
        font: 1.5em Raleway;
        font-weight: bold;
        height: auto;
        margin: 1em .5em 0em 0em;
        max-width: 7em;
        padding: .25em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        word-wrap: break-word
    }
}

@media screen and (max-width: 569px) {
    .navigationVisiting { /* Keeps the button of the page you're currently visited colored*/
        border:0.2em solid black;
        background: black;
        color: white;
        float: right;
        font: 1.15em Raleway;
        font-weight: bold;
        height: auto;
        margin: 0em .5em .25em 0em;
        max-width: 7em;
        padding: .25em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        word-wrap: break-word
    }
}

.portfolioImage{
    background: white;
    box-shadow: 1em 1em 50px rgba(128, 128, 128, 0.5);
    display: inline-block;
    margin: 1% 1%;
    max-width: 28.5%;
    max-height: auto;
    padding: 1%;
}

.portfolioPreview{ /* A ruleset used to define the area that surrounds each portfolio piece */
    background: white;
    box-shadow: 2em 2em 100px rgba(128, 128, 128, 0.5);
    margin: 2em auto;
    max-width: 50em;
    min-width: 10em;
    padding: 2em;
}

.portfolioVideo{ /* Similar to the preview ruleset, however this version is only used in cases where theres a video nested in the div */
    background: rgb(59, 59, 59);
    box-shadow: 2em 2em 100px rgba(128, 128, 128, 0.5);
    color: white;
    margin: 2em auto;
    max-width: 50em;
    min-width: 10em;
    padding: 2em;
}

.VAPage{
    background: white;
    font: .75em Raleway;
    height: 5em;
    position: relative;
    bottom: -15em;
    padding: 3em;
    text-align: center;
    min-width: 10em;
    max-width: auto;
    z-index: 1;
}

video{
    width: 100% !important; 
    height: auto !important;
}

/* Typography */

h1{
    font: 4em Renogare;
}

h2{
    font: 3em Raleway;
    font-weight: bold;
    text-transform: uppercase;
    margin: -0.25em auto;
}

h3{
    font: 1.5em Raleway;
    margin: 0.8em auto 1em;
}

h4{
    font: 2em Raleway;
    font-weight: bold;
    margin: 1em auto 1em;
    text-align: center;
}

h5{
    font: 3em Raleway;
    font-weight: bold;
    margin: .25em auto .25em; 
}

.logofonts{ /* This class defines the margin space between the title and subtitle used on the homepage as being closer to each other than usual */
    margin: .75rem auto .75rem auto;
}

p{
    font: 1.15em Raleway;
}

.pageSubtitle{ /* A version used only used at the top of major section pages, below the section title */
    font: 2em Raleway;
    text-align: center;
    margin: -0.75em auto 1em auto;
}

.pageTitle{ /* A version used only used at the top of major section pages */
    font: 3em Renogare;
    text-align: center;
    text-transform: uppercase;
}
/* Custom Fonts */

@font-face {
    font-family: 'Raleway';
    src: url('fonts/raleway/Raleway-Bold.woff2') format('woff2'),
        url('fonts/raleway/Raleway-Bold.woff') format('woff'),
        url('fonts/raleway/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/raleway/Raleway-Light.woff2') format('woff2'),
        url('fonts/raleway/Raleway-Light.woff') format('woff'),
        url('fonts/raleway/Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Renogare';
    src: url('fonts/renogare/Renogare-Regular.woff2') format('woff2'),
        url('fonts/renogare/Renogare-Regular.woff') format('woff'),
        url('fonts/renogare/Renogare-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}